.tests{
  margin-left: 15px;
}

.test{
  margin-bottom: 10px;
}

.statut{
  margin: 5px;
  display: inline;
}

img {
  width: 15px;
  height: 15px;
}

mat-list-option[aria-selected="true"] {
  background: rgba(0, 0, 200, 0.7);
  color: white;
}
