/* Global Styles */
body {
    margin: 2em;
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
  
  /* everywhere else */
  * {
    font-family: Arial;
  }
  
  @import '~bootstrap/dist/css/bootstrap.min.css';
  
  html, body { height: 100%; }
  body { margin: 0; }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  